[workspace]
channels = ["conda-forge"]
platforms = ["linux-64", "osx-64", "osx-arm64"]
preview = ["pixi-build"]

[dependencies]
learn-vrc-tst = { path = "." }

[package]
name = "learn-vrc-tst"
version = "0.0.0"

[package.build]
backend = { name = "pixi-build-python", version = "*" }

[package.build.config]
ignore-pyproject-manifest = false
ignore-pypi-mapping = false

[feature.dev.dependencies]
uv = "*"
ruff = "*"
ty = "*"
import-linter = "*"
pytest = "*"
pytest-cov = "*"
lefthook = "*"
rattler-build = "*"
tbump = "*"
ipykernel = "*"

[feature.dev.pypi-dependencies]
keepachangelog = "*"

[environments]
default = { solve-group = "default" }
dev = { features = ["dev"], solve-group = "default"}

[feature.dev.tasks]
# Manage pyproject.toml with uv
uv = "uv"
add = "uv add"
remove = "uv remove"
# Individual tasks for pre-commit hooks (must be added to lefthook.yaml)
fmt = "ruff format ."
lint = "ruff check . --fix"
types = "ty check"
imports = "lint-imports"
test = "pytest"
# Run pre-commit hooks (see lefthook.yaml)
pre-commit = "lefthook run pre-commit --all-files --fail-on-changes"
# Build and publish conda package
build-conda = "pixi build -o dist"
publish-conda = "rattler-build upload anaconda dist/*.conda -o avcopan"
# Build and publish PyPI package
build-pypi = "uv build"
publish-pypi = "uv publish"
publish-test-pypi = "uv publish --publish-url https://test.pypi.org/legacy/"
# Initiate release
version = "tbump current-version"
changelog = { cmd = "keepachangelog release {{ version }}", args=["version"] }
release = "tbump"
# Setup and initialize this repository (only run once)
setup = "./scripts/setup.sh"
init = { cmd = "./scripts/init.sh", depends-on = ["setup"]}
