[workspace]
channels = ["conda-forge", "avcopan"]
platforms = ["linux-64", "osx-64", "osx-arm64"]
preview = ["pixi-build"]

[dependencies]
learn-vrc-tst = { path = "." }
automol = ">=0.0.5,<0.0.6"

[package]
name = "learn-vrc-tst"
version = "0.0.0"

[package.build]
backend = { name = "pixi-build-python", version = "*" }

[package.build.config]
ignore-pyproject-manifest = false
ignore-pypi-mapping = false

[feature.dev.dependencies]
uv = "*"
ruff = "*"
ty = "*"
import-linter = "*"
pytest = "*"
pytest-cov = "*"
lefthook = "*"
rattler-build = "*"
tbump = "*"
ipykernel = "*"

[feature.dev.pypi-dependencies]
keepachangelog = "*"

[environments]
default = { solve-group = "default" }
dev = { features = ["dev"], solve-group = "default"}

[feature.dev.tasks]
# Manage pyproject.toml with uv
uv = "uv"
add = "uv add"
remove = "uv remove"
# Individual tasks for pre-commit hooks (must be added to lefthook.yaml)
fmt = "ruff format ."
lint = "ruff check . --fix"
types = "ty check"
imports = "lint-imports"
# Run pre-commit hooks (see lefthook.yaml)
pre-commit = "lefthook run pre-commit --all-files --fail-on-changes"
# Setup and initialize this repository (only run once)
setup = "./scripts/setup.sh"
init = { cmd = "./scripts/init.sh", depends-on = ["setup"]}
